html {background-color: #D2DAFF;
text-align: center;
}

h1 {background-color: #B1B2FF;

}

h2{
    background-color: #B1B2FF;
}

h3{
    background-color: #AAC4FF;
}

ul{
    background-color: #AAC4FF;
}
